*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #6E728E;
  font-size: 15px;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #F2F2F2;
}

.container{
  width: 100%;
  max-width: 1090px;
  margin-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  /* overflow: hidden; */
}

button{
  cursor: pointer;
}

.bc-img-left{
  position: absolute;
  left: -315px;
  bottom: -560px;
  z-index: -1;
}

.bc-img-right{
  position: absolute;
  right: -270px;
  bottom: 77px;
  z-index: -1;
}

.wrapper {
  padding-top: 71px;
  padding-bottom: 103px;
  overflow-y: hidden;
}

.block{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.box {
  display: inline-flex;
  align-items: center;
  margin-bottom: 65px;
}

.site-title {
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 32px;
  line-height: 39px;
}

.site-top-btn {
  border: 0;
  color: #6E728E;
  background-color: transparent;
  opacity: 0.5;
}

.checbox {
  display: flex;
  width: 56px;
  height: 32px;
  display: flex;
  padding: 4px;
  border-radius: 16px;
  margin-right: 24px;
  margin-left: 24px;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  position: relative;
  transition: margin 0.4s ease;
}

.annually-input:checked ~ .checbox .span {
  margin-left: 24px;
}


.monthyl-label,
.annually-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.span{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
}

.monthyl-input:checked ~ .checbox .annually-label,
.annually-input:checked ~ .checbox .monthyl-label{
  z-index: 5;
}

.hero-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  position: relative;
}

.hero-item {
  width: 350px;
  padding: 31px;
  text-align: center;
  background-color: #fff;
}

.hero-item-left{
  border-radius: 10px 0 0 10px;
}

.hero-item-right{
  border-radius: 0 10px 10px 0;
}

.hero-item div{
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(110, 114, 142, 0.25);
  border-bottom: 1px solid rgba(110, 114, 142, 0.25);
  margin-bottom: 32px;
}

.new-hero-item{
  padding: 50px 30px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
}

.hero-item-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 18px;
}

.hero-item-namber-title {
  display: flex;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2px;
  color: #4A4D60;
  align-items: center;
  justify-content: center;
}

.hero-item-namber-title p{
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  margin-right: 8px;
}

.new-hero-item-namber-title{
  color: #fff;
}

.hero-item-text {
  padding: 12px 0;
}

.hero-item-text:not(:last-child) {
  border-bottom: 1px solid rgba(110, 114, 142, 0.25);
}

.new-hero-item .hero-item-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.new-hero-item .hero-item-text:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}

.hero-item-btn {
  display: inline-block;
  width: 288px;
  border: 0;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 14px 66px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  transition: border 0.4s ease, color 0.4s ease, background 0.4s ease;
}

.hero-item-btn:hover{
  border: 1px solid #6D72DE;
  color: #6D72DE;
  background: linear-gradient( white, white);
}

.new-hero-item-btn {
  color: #6D72DE;
  background: linear-gradient( white, white 100%);
}

.new-hero-item-btn:hover {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}