*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  color: #6E728E;
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #fff;
}

.container{
  width: 100%;
  max-width: 1090px;
  margin-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}